:host{
  width: 100%;
}
nav {
  background-color: silver;
  margin-top: 3px;
  margin-bottom: 6px;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 6px;
}

button {
  margin-left: 20px;
  background-color: transparent;
  border-color: black;
  border-width: 3px;
  border-style: solid;
  border-radius: 20px;
}